body {
  font-family: sans-serif;
  background: cornsilk;
}

.add-note {
  border: 1px solid #ccc;
  background-color: #fdfdfd;
}

.notes {
  max-width: 10em;
  margin: .5em;
  padding-left: 0;
  list-style: none;
}

.note {
  margin-bottom: .5em;
  padding: .5em;
  background-color: #fdfdfd;
  box-shadow: 0 0 .3em .03em rgba(0, 0, 0, .3);
}

.note:hover {
  transition: .6s;
  box-shadow: 0 0 .3em .03em rgba(0, 0, 0, .7);
}

.note .value {
  display: inline-block;
}

.note .delete {
  visibility: hidden;
  float: right;
  padding: 0;
  cursor: pointer;
  border: none;
  background-color: #fdfdfd;
}

.note:hover .delete {
  visibility: visible;
}

.lane {
  display: inline-block;
  min-width: 10em;
  margin: 1em;
  vertical-align: top;
  border: 1px solid #ccc;
  border-radius: .5em;
  background-color: #efefef;
}

.lane-header {
  overflow: auto;
  padding: 1em;
  color: #efefef;
  border-top-left-radius: .5em;
  border-top-right-radius: .5em;
  background-color: #333;
}

.lane-name {
  float: left;
}

.lane-add-note {
  float: left;
  margin-right: .5em;
}

.lane-delete {
  visibility: hidden;
  float: right;
  margin-left: .5em;
}

.lane-header:hover .lane-delete {
  visibility: visible;
}

.add-lane, .lane-add-note button {
  cursor: pointer;
  border: 1px solid #ccc;
  background-color: #fdfdfd;
}

.lane-delete button {
  padding: 0;
  cursor: pointer;
  color: white;
  border: 0;
  background-color: rgba(0, 0, 0, 0);
}
